<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.sms2021.managerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".exam.ExamProjectActivity"></activity>
        <activity android:name=".project.AddNewProjectActivity"></activity>
        <activity android:name=".exam.ExamActivity" />
        <activity android:name=".service.Settings" />
        <activity android:name=".project.ProjectDocumentsActivity" />
        <activity android:name=".project.ProjectActivity" />
        <activity android:name=".guest.SignActivity" />
        <activity android:name=".loggedUser.StudentActivity" />
        <activity android:name=".guest.GuestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
</manifest>